<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Webpack❤️TS</title>
  </head>
  <body>
    <div class="lorem">
      <!-- some example-->
      <h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam,
        numquam?
      </h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
        facilis aspernatur unde nobis itaque officiis sint non magnam impedit
        eos.
      </p>
    </div>
  </body>
</html>
